@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

$base-color: #1d3557;
$text-color: #f1faee;
$primary-color: #457b9d;
$secondary-color: #a8dadc;
$tertiary-color: #e63946;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  background-color: $base-color;
  color: $text-color;
}
