@import '../colors.scss';

.intro {
  p {
    margin-top: 20px;
  }

  .indicator {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .color {
      width: 30px;
      height: 30px;
      border-radius: 30px;
    }

    #color-0 {
      background-color: $primary-color;
    }

    #color-1 {
      background-color: $secondary-color;
    }

    #color-2 {
      background-color: $tertiary-color;
    }
  }
}
